//Program 1-Input: First and Last Name Output:Fullname
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FullName</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  </head>
  <body>
    <div ng-app="myApp" ng-controller="myCtrl">
      <h1>Full Name Program</h1>
      <input type="text" ng-model="firstName" />
      <input type="text" ng-model="lastName" />
      <br />
      FullName:{{ firstName + "" + lastName }}
    </div>
    <script>
      var app = angular.module("myApp", []);
      app.controller("myCtrl", function ($scope) {
        $scope.firstName = "John";
        $scope.lastName = "Wick";
      });
    </script>
  </body>
</html>
